# Capstone 2 Pre-processing<a id="Pre-processing"></a>

note: will to look at .info() and change some datatypes... gender is a float rn.

note: could create a "seconds per day" column

## Table of Contents<a id='Table_of_Contents'></a>
* [3 Pre-processing](#Pre-processing)
    * [3.1 Imports](#Imports)
        * [3.1.1 Import Libraries](#Import_Libraries)
        * [3.1.2 Import Data](#Import_Data)          
    
    * [3.2 Feature_Engineering](#Feature_Engineering)
        * [3.2.1 ](#)
        
    * [3.3 ](#)
    
    * [3.4 ](#)

## 3.1 Imports<a id="Imports"></a>

### 3.1.1 Import Libraries<a id="Import_Libraries"></a>

In [2]:
import pandas as pd
import numpy as np

### 3.1.2 Import Data<a id="Import_Data"></a>

In [3]:
data = pd.read_csv("../data/processed/combined.csv")

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599990 entries, 0 to 599989
Data columns (total 24 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Unnamed: 0              599990 non-null  int64
 1   msno                    599990 non-null  object
 2   transaction_date        599990 non-null  int64
 3   is_churn                599990 non-null  int64
 4   payment_method_id       599990 non-null  int64
 5   payment_plan_days       599990 non-null  int64
 6   plan_list_price         599990 non-null  int64
 7   actual_amount_paid      599990 non-null  int64
 8   is_auto_renew           599990 non-null  int64
 9   membership_expire_date  599990 non-null  int64
 10  is_cancel               599990 non-null  int64
 11  city                    599990 non-null  int64
 12  age                     599990 non-null  int64
 13  gender                  599990 non-null  float64
 14  registered_via          599990 non-null  int64
 15  registration_init_time  599990 non-null  int64
 16  total_days              599990 non-null  int64
 17  total_num_25            599990 non-null  int64
 18  total_num_50            599990 non-null  int64
 19  total_num_75            599990 non-null  int64
 20  total_num_985           599990 non-null  int64
 21  total_num_100           599990 non-null  int64
 22  total_num_unique        599990 non-null  int64
 23  total_secs              599990 non-null  float64
dtypes: float64(2), int64(21), object(1)
memory usage: 109.9+ MB

In [7]:
# convert gender column to int64 and drop "Unnamed: 0" column
data = data.astype({"gender":"int64"}).drop("Unnamed: 0", axis=1)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599990 entries, 0 to 599989
Data columns (total 23 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   msno                    599990 non-null  object
 1   transaction_date        599990 non-null  int64
 2   is_churn                599990 non-null  int64
 3   payment_method_id       599990 non-null  int64
 4   payment_plan_days       599990 non-null  int64
 5   plan_list_price         599990 non-null  int64
 6   actual_amount_paid      599990 non-null  int64
 7   is_auto_renew           599990 non-null  int64
 8   membership_expire_date  599990 non-null  int64
 9   is_cancel               599990 non-null  int64
 10  city                    599990 non-null  int64
 11  age                     599990 non-null  int64
 12  gender                  599990 non-null  int64
 13  registered_via          599990 non-null  int64
 14  registration_init_time  599990 non-null  int64
 15  total_days              599990 non-null  int64
 16  total_num_25            599990 non-null  int64
 17  total_num_50            599990 non-null  int64
 18  total_num_75            599990 non-null  int64
 19  total_num_985           599990 non-null  int64
 20  total_num_100           599990 non-null  int64
 21  total_num_unique        599990 non-null  int64
 22  total_secs              599990 non-null  float64
dtypes: float64(1), int64(21), object(1)
memory usage: 105.3+ MB

In [10]:
data.head(1).T

                                                                   0
msno                    ++6xEqu4JANaRY4GjEfEFtLtqOvZvYPyP3uk/PW9Ces=
transaction_date                                            20170331
is_churn                                                           0
payment_method_id                                                 41
payment_plan_days                                                 30
plan_list_price                                                   99
actual_amount_paid                                                99
is_auto_renew                                                      1
membership_expire_date                                      20170430
is_cancel                                                          0
city                                                               1
age                                                               33
gender                                                             1
registered_via                                                     7
registration_init_time                                      20160501
total_days                                                         9
total_num_25                                                      18
total_num_50                                                       3
total_num_75                                                       0
total_num_985                                                      2
total_num_100                                                     38
total_num_unique                                                  53
total_secs                                                  9541.349

## 3.2 Feature Engineering<a id="Feature_Engineering"></a>

In [12]:
# Calculate seconds listened per day: secs_per_day
data["secs_per_day"] = data.total_secs / data.total_days

In [14]:
# Calculate each subscriber's plan's cost per day: cost_per_day
data["cost_per_day"] = data.actual_amount_paid / data.payment_plan_days

In [18]:
# Mark if a subscriber is a new user, meaning that their registration date is in March 2017: is_new_user
data["registration_init_time"] = pd.to_datetime(data["registration_init_time"]
                                                     .astype(str), format="%Y%m%d")

new_users = (data["registration_init_time"].dt.year==2017) & (data["registration_init_time"].dt.month==3)
new_users = new_users.replace({True:1, False:0})
data["is_new_user"] = new_users

In [ ]:
#X_train.to_csv("../data/processed/pre_processing.csv")